<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AlwaysUpdateImages</key>
	<true/>
	<key>DefaultPageName</key>
	<string>home.php</string>
	<key>DeploymentCheckLinks</key>
	<false/>
	<key>DeploymentCheckSyntax</key>
	<false/>
	<key>DeploymentContinueAfterErrors</key>
	<false/>
	<key>DeploymentLocation</key>
	<string>ftp://craig:@m.cdgui.com//www/cdgui.com/</string>
	<key>DeploymentUpdateImages</key>
	<false/>
	<key>DeploymentUpdatePlaceholders</key>
	<false/>
	<key>DontUpdate1x1Images</key>
	<true/>
	<key>InsertEmptyAltAttribute</key>
	<true/>
	<key>LinkAddressingMode</key>
	<string>Automatic</string>
	<key>LocalSiteRootLocator</key>
	<dict>
		<key>BookmarkData</key>
		<data>
		Ym9va1wDAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
		AAAAiAIAAAcAAAABAQAATGlicmFyeQAJAAAAAQEAAFdlYlNlcnZlcgAAAAkA
		AAABAQAARG9jdW1lbnRzAAAACAAAAAEBAAB3ZWJzZW5zZQYAAAABAQAAbW9i
		aWxlAAABAAAAAQEAAG0AAAAYAAAAAQYAAAQAAAAUAAAAKAAAADwAAABMAAAA
		XAAAAAgAAAAEAwAA1SMIAAAAAAAIAAAABAMAAFIsCQAAAAAACAAAAAQDAABU
		LAkAAAAAAAgAAAAEAwAAaNkJAAAAAAAIAAAABAMAAKHvCQAAAAAACAAAAAQD
		AAAHjSkAAAAAABgAAAABBgAAiAAAAJgAAACoAAAAuAAAAMgAAADYAAAACAAA
		AAAEAABBtznCFgAAABgAAAABAgAAAgAAAAAAAAAPAAAAAAAAAAAAAAAAAAAA
		BQAAAAEBAABrZWlyYQAAAAgAAAAEAwAAAICBPXQAAAAIAAAAAAQAAEG3GOpl
		AAAAJAAAAAEBAABFRTkyQkQ5Ni03MzJFLTMwRTgtODZGQi04MDUxQjdBMUEy
		NzIYAAAAAQIAAIEAAAABAAgA7z8AAAEACAAAAAAAAAAAAAEAAAABAQAALwAA
		AAAAAAABBQAAtgAAAAECAAA1MDE1OTQxZjFjOTA5NjAzYjI0ZmUyMjFlMTgw
		ZDI5MjZkZTcxYWFlOzAwMDAwMDAwOzAwMDAwMDAwMDAwMDAwMjA7Y29tLmFw
		cGxlLmFwcC1zYW5kYm94LnJlYWQtd3JpdGU7MDAwMDAwMDE7MDEwMDAwMDM7
		MDAwMDAwMDAwMDI5OGQwNzsvbGlicmFyeS93ZWJzZXJ2ZXIvZG9jdW1lbnRz
		L3dlYnNlbnNlL21vYmlsZS9tAAAAnAAAAP7///8BAAAAAAAAAAwAAAAEEAAA
		aAAAAAAAAAAFEAAA6AAAAAAAAAAQEAAAGAEAAAAAAABAEAAACAEAAAAAAAAC
		IAAAtAEAAAAAAAAQIAAAOAEAAAAAAAARIAAAaAEAAAAAAAASIAAASAEAAAAA
		AAATIAAAWAEAAAAAAAAgIAAAlAEAAAAAAAAwIAAAwAEAAAAAAACA8AAAyAEA
		AAAAAAA=
		</data>
		<key>FileURL</key>
		<string>file:///Library/WebServer/Documents/websense/mobile/m/</string>
		<key>RelativePath</key>
		<string>./</string>
		<key>TypeID</key>
		<string>_CFileLocator</string>
		<key>Version</key>
		<integer>1</integer>
	</dict>
	<key>Name</key>
	<string>m.websense.com</string>
	<key>NewDocumentCharset</key>
	<string>utf-8</string>
	<key>NewDocumentDOCType</key>
	<string></string>
	<key>NewDocumentGiveBBEditCredit</key>
	<true/>
	<key>NewDocumentInsertDOCType</key>
	<true/>
	<key>NewDocumentInsertXMLDeclaration</key>
	<false/>
	<key>NewDocumentLanguage</key>
	<string>en</string>
	<key>PreviewServerURL</key>
	<string></string>
	<key>SitePath</key>
	<string>/www/m.cdgui.com</string>
	<key>UsePreviewServer</key>
	<false/>
	<key>WebServerURL</key>
	<string>m.cdgui.com</string>
</dict>
</plist>
