//// Custom Elements
@import url(fonts.googleapis.com/css?family=Pathway+Gothic+One);

//// Clearfix.cf:before,
.cf:after {
    content: " ";
    display: table;
}
.cf:after {clear: both;}
//// Themes
@white:		#ffffff;
@lGrey:		#E4E2E2;
@mGrey:		#717171;
@dGrey:		#3c3c3c;
@black:		#000000;

@anchor:	#3EA0CB;
@dBlue:		#015786;

@bRadius:	4px;

//// Primary Elements
.ui-page,
.ui-body-c,
.ui-overlay-c {
	color:@mGrey !important;
	background:@white !important;
}
.ui-body-c .ui-link, a {
	text-decoration:none;
	color:@anchor;
	font-weight:normal;
}
.wsBold {font-weight:bold;}
h1 {
	font-size:28px;
	margin-bottom:0;
	color:@dGrey;
	line-height:30px;
}
h2 {
	font-size:22px;
	color:@dBlue;
	margin:2px 0 8px 0 !important;
}
h3 {
	color:@mGrey;
	font-size:18px;
	margin-bottom:4px;
}
	.wsModal h3 {
		font-family: 'Pathway Gothic One', sans-serif;
		font-size:24px !important;
		font-weight:bold !important;
		color:@dBlue;
	}
h3 span.ui-btn-text {color:@anchor !important;}
h4 {font-size:16px}
h4.no-margin {margin-bottom:-13px !important;}
* {	box-shadow:none !important;
	text-shadow:none;
}
* p {color:@mGrey !important;}
h1 + p,
h2 + p,
h3 + p,
h4 + p {
	margin-top:0 !important;
	padding-top:0 !important;
}
sup {
	font-size:8px;
	line-height:0;
	position:relative;
//	top:2px;
	left:1px;
	margin-right:1px;
}
#wsHeader sup {color:@white;}
//.first {margin-top:0 !important;}
.divError {border:1px solid red !important;}
blockquote {
    border-bottom: 4px double @lGrey !important;
    border-top: 4px double @lGrey !important;
    font-style: italic;
    padding: 6px;
}
.center {text-align:center;}

//// Background Colors
.wsPage {background:@white !important;}
.wsHome {background:@black !important;}

//.ui-overlay-c {background:@white !important;}
.wsShadow {box-shadow: -1px -1px 8px @dGrey;}

//// Buttons
a.wsBButton,
a.wsBButton:hover,
a.wsBButton:visited,
a.wsBButton:active,
a.wsGButton,
a.wsGButton:hover,
a.wsGButton:visited,
a.wsGButton:active {
	text-shadow:none !important;
	border:none !important;
	text-align:left !important;
	line-height:25px;
	
	.ui-btn-text {
		overflow:visible;
		white-space:normal;
	}
}
	a.wsBButton,
	a.wsBButton:hover,
	a.wsBButton:visited,
	a.wsBButton:active {
		background:@anchor !important;
		color:@white;
	}
	a.wsGButton,
	a.wsGButton:hover,
	a.wsGButton:visited,
	a.wsGButton:active {
		background:@lGrey !important;
		//border:none !important;
		color:@dGrey;
	}
.ui-btn-corner-all,
.ui-corner-all {border-radius:@bRadius !important;}
.homeButton {
	.ui-btn-text {
		font-size:18px !important;
		font-weight:bold !important;
	}
}

//// Accordions
.ui-collapsible-heading {
	.ui-body-d {border-color:@mGrey !important;}
	.ui-btn-up-c {
		background:@lGrey !important;
	}
	.ui-btn-text {
		overflow:visible;
		white-space:normal;
	}
}
//// Header Bar
#wsHeader {
	background: url(/assets/images/bgHeader.png) repeat 0 0 !important;
	border-bottom: 1px solid @mGrey;

	.ui-bar-a .ui-shadow {box-shadow:0 !important;}
	.ui-btn-up-a {border:none !important;}
	.ui-btn-up-c {border:1px solid @lGrey !important;}
	.ui-btn-corner-all {border-radius:0 !important;}
	.ui-btn-left,
	.ui-btn-right {
		.ui-btn-inner {
			border-bottom:0 !important;
			border-top:0 !important;
		}
	}
	.ui-btn-left {
		top:0;
		left:0;
		background:none !important;
	
		.ui-btn-inner {
			padding:14px 13px 13px 32px;
			border-right: 1px solid @dGrey;
			border-bottom:0 !important;
			border-top:0 !important;
		}
	}
	.ui-btn-right {
		top:0;
		right:0;
		background:none !important;
		
		.ui-btn-inner {
			padding:14px 32px 13px 13px;
			border-left: 1px solid @dGrey;
			border-bottom:0 !important;
			border-top:0 !important;
		}
	}
	h1 {
		font-size:22px;
		margin:7px 0 8px 11px;
		a {color:@white;}
	}
	.wsTitle {
		background:@black !important;
		border-top:1px solid @mGrey;
		height:35px;

		h2 {
			text-transform: uppercase;
			text-align:center;
			font-size:0px;
			padding:0;
			display:block;
			height:35px;
		
			a {
				text-decoration:none;
				color:@white;
				font-size:10px;
				display:block;
				height:35px;
				line-height:35px;
				
				span {
					display:inline-block;
					height:8px;
					width:6px;
					background: url(/assets/images/hArrow.png) no-repeat right 1px;
					margin-left:4px;
				}
			}
		}
	}
}

//// Sliding navigation Panel
#navpanel {
	padding-top:0;
	border-top:0;
	border-right:none !important;
	
	h3 span.ui-btn-text {color:@white !important;}
	span.ui-btn-inner {border-color:@mGrey !important;}
	ul.navClose {
		margin-top:-18px;
		height:53px !important;
		
		li {
			background: url(/assets/images/bgHeader.png) repeat 0 0 !important;
			border-bottom:1px solid @mGrey;
			height:53px;
		}
		
		span.ui-icon {
			left:10px;
			top:20px;
		}
		a {
			padding:9px 0 0 40px;
			font-size:12.5px !important;
		}
	}
		.ui-collapsible,
		.ui-btn {
			//background: url(/assets/images/bgHeader.png) repeat 0 0 !important;
		}
	.ui-listview,
	.ui-btn-inner {
		font-size:12.5px !important;
		line-height:21px;
		//border-top:1px solid @mGrey;
	}
		.ui-listview {
			li.navOne {
				a {text-transform:uppercase;}
			}
			li.navTwo {
				background:@black !important;
				a {
					text-transform:uppercase;
					font-weight:normal !important;
					line-height:25px;
				}
			}
			li.navThree {
				a {
					background: url(/assets/images/blueDot.png) no-repeat 15px 18px;
					font-weight:normal !important;
					padding-left:30px;
					font-size:11.5px !important;
					line-height:25px;
				}
			}
		}
	.ui-body-d {border-color:@mGrey !important;}
}
.ui-panel-animate.ui-panel-content-fixed-toolbar-position-left.ui-panel-content-fixed-toolbar-open {margin-left:0 !important;}

//// Footer
.wsFooter {
	border-top: 1px solid @mGrey !important;
	border-bottom:none;
	
	.ui-btn-inner {
		border-top:none;
		
		.ui-btn-text {text-shadow:none;}
	}
		.ui-block-a .ui-btn {border-left:none !important;}
		.ui-block-b .ui-btn,
		.ui-block-c .ui-btn {border-left:1px solid @dGrey !important;}
//	.ui-btn:nth-child(1) {border-left:1px solid red !important;}
//	ul {margin-top:-1px;}
}
.wsFooter .ui-btn,
.wsFooter .ui-btn-up-a,
.wsFooter .ui-btn-active,
.wsFooter .ui-btn-hover-a {background: url(/assets/images/bgHeader.png) repeat top left !important;}


//// Responsive Page Content
.wsBG {
	position:relative;
	width:111%;
	height:50px;
	top:-15px;
	left:-15px;
	background:@black;

	&.wsBGOne {background: url(/assets/images/wsBGOne.png) no-repeat right 0 @black !important;}
	&.wsBGTwo {background: url(/assets/images/wsBGTwo.png) no-repeat right 0 @black !important;}
}
.wsResp .swipe-wrap {
//	width:400px !important;

	.wsRespOne,
	.wsRespTwo,
	.wsRespThree {
		background-size:95% auto;
	
		.bCopy {
			text-shadow: 0 1px 0 @black;
			color:@white !important;
			display:inline-block;
			width:100%;
			
			p {color:@white !important;}
		}
	}
	.wsRespZero {
		p:nth-child(1) {margin-top:0;}
		p {
			color:@black;
			display:inline-block;
		}
	}
	.wsRespOne {
		background: url(/assets/images/bgHomeOne.png) no-repeat center 0;
		
		p {padding:44px 0 10px 0;}
	}
	.wsRespTwo {
		background: url(/assets/images/bgHomeTwo.png) no-repeat center 0;
		
		p {padding:100px 0 5px 0;}
	}
	.wsRespThree {
		background: url(/assets/images/proveit-mobile7.png) no-repeat center 0;
			.bCopy {text-align:right;
			
			p {
				padding:215px 0 5px 0;
				
				a {
					position:absolute;
					top:235px;
					right:12px;
				}
			}
		}
	}
	.wsCTA {
		.hpElement {
			border:1px solid @mGrey !important;
			border-radius:@bRadius;
			margin-bottom:8px;
			background: url(/assets/images/hpElementTrans.png) repeat 0 0;
			padding:8px;
			width:94%;

			a {
				font-size:14px;
				text-shadow: 0 1px 0 @black;
				border:none !important;
				background:none;
				padding:0;
				width:100%;

				span {
					color:@white;
					font-size:10px;
					text-shadow:none !important;
					border:none !important;
					background:none;
				}
			}
		}
	}
}

//// Inside Pages
ul.standard, ul.green-arrow, ul.strongList {
	list-style-type: none;
	padding: 0 20px;
	margin: 12px;
	vertical-align:top;
	
	&.tight {padding:0;}
	
	li {
		background: transparent url(/assets/images/ws2013-list-square-img.png) no-repeat left 5px;
		padding: 0 0 0 16px;
		margin-top: 12px;
	}
	&.wsList {
		margin-left:2px !important;
		padding:0;
	
		span:nth-child(1) {font-weight:bold;}
		span {
			display:block;
			width:100%;
			margin-left:1px;
		}
	}
}
ul.bookList {
	margin-left:0 !important;
	padding-left:0 !important;
	list-style-type:none;
	
	img {margin:0 13px 13px 0;}
	
	li.divide {border-bottom:1px solid @lGrey;}
}
table.lined {
    border: 1px solid @mGrey;
    margin-bottom: 12px;
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    
    thead {
    	tr {background-color: @lGrey;}
    	th {
    		border-left: 1px solid @mGrey;
    		padding: 3px;
    	}
    }
    tr {
    	border-top: 1px solid @mGrey;
    	td {
    		border-left: 1px solid @mGrey;
    		padding:6px;
    	}
    }
}
.techSpecs {
	padding-top:6px;
	margin-top:23px;
	border-top:1px solid @lGrey;
	
	h2 {margin-bottom:0;}
	h3 {
		margin-bottom:0;
	}
		//h3.first {margin-top:0 !important;}
	p {margin-top:0 !important;}
	ul.no-margin {
		margin:0 0 0 13px;
		padding:0;
		
		li {margin-top:3px;}
	}
}
//// Office of the CSO Elements
ul#cso-experts {
	width:100%;
	margin:0;
	padding:0;
	
	li {
		display:inline-block;
		width:45%;
		height:240px;
		margin:0 0 10px 10px;
		vertical-align:top;
		
		p {
			width:100%;
			vertical-align:top;
			
			span {font-weight:bold;}
		}
	}
}

//// Video Player
.wsVideo {
	position:relative;
	width:100%;
	margin-bottom:13px;

	.wsVWrapper {
		position:relative;
		margin:0 auto;
		width:90%;
		padding:0 12px;
		border:1px solid @lGrey;
		border-radius:@bRadius;

		h4 {
			margin:8px 0;
			padding:0;
		}
		a.video {
			background: none repeat scroll 0 0 transparent;
    		display: inline-block;
    		position: relative;
    		width:100%;
		
			span {
				background: url(/assets/imgs/2013/ws2013-video-play-overlay.png) no-repeat scroll center center transparent;
				display:block;
				height:100%;
				width:100%;
				position:absolute;
				z-index:2;
			}
			img {
				width:100%;
				height:auto;
				border:1px solid @lGrey;
			}
		}
		p {
			font-style:italic;
			font-size:13px;
		}
	}
}
//// Marketo Forms
#outerWrapDiv {
	position:relative;
	left:-3px;
	width:100%;
	
	.lpeRegForm ,
	.lpeCElement {
		width:100% !important;
		background:@white;
	}
}
ul.mktLblCenter {
	width:100%;
	background:none;
	font-size:14px !important;
	
	li {margin-bottom:5px !important;}
	li.mktField {
		label {
			width:auto;
			text-align:left !important;
			color:@mGrey;
		}
		span.mktInput {
			div {margin-top:19px;
				&.ui-input-text {border:1px solid @lGrey;}
			}
		}
	}
	li#mktFrmButtons {
		text-align:center;
		
		label {display:none;}
		div.ui-btn {
			width:100%;
			background:@anchor;
			color:@white;
			text-shadow:none;
			border:none !important;
			
			.ui-btn-inner {
				overflow: visible;
				white-space: normal;
			}
		}
		.ui-btn:nth-child(3) {display:none;}
	}
	input[type="text"] {
		border-radius:@bRadius;
		height:35px;
		background:none !important;
	}
}

//// Modal Dialog Box
.wsModal {
	max-width:400px;
	border:1px solid @lGrey;
	
	.modCenter {text-align:center;}
}

//// Social Buttons
.wsSocial {
	a.ui-btn {
		display:inline-block;
		height:64px;
		width:64px;
		margin:7px;
		border:none !important;
		border-radius:0px !important;
		background-image:100%;
		
		.ui-btn-inner {border-top:none !important;}
	}
	.wsBlog {
		background: url(../images/socialBlog.png) no-repeat 0 0;
		&.ui-btn-down-c {background: url(../images/socialBlogActive.png) no-repeat 0 0;}
	}
	.wsLI {background: url(../images/socialLI.png) no-repeat 0 0;
		&.ui-btn-down-c {background: url(../images/socialLIActive.png) no-repeat 0 0;}
	}
	.wsTwitter {background: url(../images/socialTwitter.png) no-repeat 0 0;
		&.ui-btn-down-c {background: url(../images/socialTwitterActive.png) no-repeat 0 0;}
	}
	.wsFB {background: url(../images/socialFB.png) no-repeat 0 0;
		&.ui-btn-down-c {background: url(../images/socialFBActive.png) no-repeat 0 0;}
	}
	.wsGoogle {background: url(../images/socialGoogle.png) no-repeat 0 0;
		&.ui-btn-down-c {background: url(../images/socialGoogleActive.png) no-repeat 0 0;}
	}
	.wsYT {background: url(../images/socialYT.png) no-repeat 0 0;
		&.ui-btn-down-c {background: url(../images/socialYTActive.png) no-repeat 0 0;}
	}
}

//// Secondary Nav Tabs
.ui-grid-a > *:nth-child(n)
.ui-grid-b > *:nth-child(n),
.ui-grid-c > *:nth-child(n),
.ui-grid-d > *:nth-child(n) {
	margin-right:0 !important;
	
	.ui-btn-up-c {background:@lGrey !important;}
}
//.ui-grid-c {background-color:red;}
// @media only screen and (orientation: portrait) {}
@media only screen and (orientation: landscape) {

//// Modal Dialogue Box
.wsModal {
	.wsSocial {
		a.ui-btn {
			height:42px;
			width:42px;
			background-size:100% !important;
		}
	}
}	
.wsResp .swipe-wrap {
	.wsRespZero,
	.wsRespOne,
	.wsRespTwo,
	.wsRespThree {
		background-size:50% auto;
	
		.bCopy {
			width:50%;
			position:relative;
			display:inline-block;
			vertical-align:top;
			
			p {
				vertical-align:top;
				margin-top:15px;
			}
		}
		
		
	}
	.wsRespZero {
		h4 {margin-top:0;}
		p:nth-child(1) {margin-top:0;}
		p {vertical-align:top;}
	}
	.wsRespOne {
		background: url(/assets/images/bgHomeOne.png) no-repeat left 0 !important;
		
		p {
			vertical-align:top;
			padding:35px 0 !important;
		}
	}
	.wsRespTwo {
		background: url(/assets/images/bgHomeTwo.png) no-repeat left 0 !important;

		p {
			vertical-align:top;
			padding-top:60px;
		}
	}
	.wsRespThree {
		background: url(/assets/images/proveit-mobile7.png) no-repeat 0 0 !important;

		p {
			vertical-align:top;
			padding-top:80px;
			
				a {
					top:121px !important;
					right:-5px !important;
				}
		}
	}
	.wsCTA {
		width:45%;
		position:relative;
		display:inline-block;
		margin-left:20px;
	}
}
.wsBG {
	position:relative;
	width:107%;
	height:50px;
	top:-15px;
	left:-15px;
	background:@black;
}
ul#cso-experts {
	width:100%;

	li, a {
		width:22% !important;
		height:240px;
		vertical-align:top;
		
		img {width:75%;}
	}
}

//// Video Player
	.wsVideo {
		position:relative;
		width:100%;

		.wsVWrapper {
			position:relative;
			width:75%;
		
			div, p {
				position:relative;
				display:inline-block;
				width:47%;
				vertical-align:top;
				padding-bottom:12px;
				
				img {width:100%;}
			}
			p {margin:32px 0 0 14px;}
		}
	}
}

//// Directions - Google Maps
div#directions_map {
	h2 {margin-bottom:8px;}
	h3 {margin:0 0 0 -15px;}
	.wsMapSearch {
		background:@white !important;
		border-radius:@bRadius;

		div.ui-input-text {
			border:1px solid @lGrey;
			border-radius:@bRadius;
		}
		#map_canvas_1 {
			border:1px solid @lGrey;
			border-radius:@bRadius;
			width:99%;
		}
	}
	div.ui-input-text {margin:-2px 0;}	
	a {
		background:@anchor;
		border:none !important;
		border-radius:@bRadius;
		color:@white;
		text-shadow:none;
	}
	#results {
		.ui-bar-c {
			background:none !important;
			border:none !important;
    		color:@dBlue;
    		font-weight: bold;
    		font-size:125%;
    		text-shadow:0 1px 0 @white;
    		border-radius:@bRadius;
	    }
	}
}

//// Swipe JS elements
.swipe {
	overflow:hidden;
	visibility:hidden;
	position:relative;
	padding:0;
	background:red;
}
.swipe-wrap {
	overflow:hidden;
	position:relative;
	width:100%;
	background:yellow;
}
.swipe-wrap > figure {
	float:left;
	//width:100%;
	position: relative;
	background:blue;
}
#mySwipe .swipe-wrap {
  display:block;
  //font-weight:bold;
  //color:#14ADE5;
  //font-size:20px;
  //text-align:center;
  //margin:10px;
  //padding:100px 10px;
  //box-shadow: 0 1px #EBEBEB;
  //background: #fff;
  //border-radius: 3px;
  //border: 1px solid;
  //border-color: #E5E5E5 #D3D3D3 #B9C1C6;
}