a {
  text-decoration: none;
  color: #00ccff;
}
.wsShadow {
  box-shadow: -1px -1px 8px #3c3c3c;
}
#wsHeader {
  background: url(/assets/images/bgHeader.png) repeat 0 0 !important;
  border-bottom: 1px solid #717171;
}
#wsHeader .ui-bar-a .ui-shadow {
  box-shadow: 0 !important;
}
#wsHeader .ui-btn-up-a {
  border: none !important;
}
#wsHeader .ui-btn-corner-all {
  border-radius: 0 !important;
}
#wsHeader .ui-btn-left {
  top: -2px;
  left: 0;
  border-right: 1px solid #717171;
  background: none !important;
}
#wsHeader .ui-btn-left .ui-btn-inner {
  padding: 13px 8px 13px 44px;
  border-right: 1px solid #717171;
  border-bottom: 0 !important;
}
#wsHeader .wsTitle {
  background: #000 !important;
  padding: 2px 0;
  border-top: 1px solid #717171;
}
#wsHeader .wsTitle h2 {
  text-transform: uppercase;
  text-align: center;
  font-size: 10px;
}
#wsHeader .wsTitle h2 a {
  text-decoration: none;
  color: #fff;
}
#navpanel {
  padding-top: 0;
  border-top: 0;
  border-right: none !important;
}
#navpanel ul.navClose {
  margin-top: -17px;
  height: 51px !important;
}
.wsFooter ui-navbar {
  border-top: 1px solid #717171;
}
.wsFooter .ui-btn,
.wsFooter .ui-btn-up-a,
.wsFooter .ui-btn-active,
.wsFooter .ui-btn-hover-a {
  background: url(/assets/images/bgHeader.png) repeat 0 0 !important;
}
.wsHome {
  background: #000 !important;
}
.wsHome .ui-body-c {
  background: none !important;
}
.wsHome .wsHomeOne {
  background: url(/assets/images/bgHomeOne.png) no-repeat center 0;
}
.wsHome .wsHomeOne p {
  padding-top: 50px;
  color: #fff;
  text-shadow: none !important;
}
.wsHome .wsCTA .hpElement {
  border: 1px solid #717171 !important;
  border-radius: 2px;
  margin-bottom: 8px;
  background: url(/assets/images/hpElementTrans.png) repeat 0 0;
  padding: 8px;
}
.wsHome .wsCTA .hpElement a {
  font-size: 14px;
  text-shadow: 0 1px 0 #000000;
  border: none !important;
  background: none;
  padding: 0;
  width: 100%;
}
.wsHome .wsCTA .hpElement a span {
  color: #fff;
  font-size: 10px;
  text-shadow: none !important;
  border: none !important;
  background: none;
}
@media only screen and (orientation: portrait) {
  
}
@media only screen and (orientation: landscape) {
  .wsHomeOne {
    background: url(/assets/images/bgHomeOne.png) no-repeat 0 0 !important;
    background-size: 50% auto;
  }
  .wsHomeOne p {
    width: 50%;
    position: relative;
    display: inline-block;
  }
  .wsCTA {
    width: 45%;
    position: relative;
    display: inline-block;
    margin-left: 20px;
  }
}
