.ui-page,
.ui-body-c,
.ui-overlay-c {
  color: #717171 !important;
}
.ui-body-c .ui-link {
  text-decoration: none;
  color: #3ea0cb;
}
h2 {
  color: #015786;
}
h3 {
  color: #000000;
}
h3 span.ui-btn-text {
  color: #3ea0cb !important;
}
#navpanel h3 span.ui-btn-text {
  color: #ffffff !important;
}
* {
  box-shadow: none !important;
}
.wsHome {
  background: #000000 !important;
}
.wsPage {
  background: #ffffff !important;
}
.wsShadow {
  box-shadow: -1px -1px 8px #3c3c3c;
}
a.wsBButton {
  background: #3ea0cb !important;
  color: #ffffff;
  text-shadow: none !important;
  border: none !important;
}
.wsFooter .ui-btn {
  border-left: 1px solid #717171 !important;
}
.ui-btn-corner-all,
.ui-corner-all {
  border-radius: 4px !important;
}
.ui-body-d {
  border-color: #e4e2e2;
}
#wsHeader {
  background: url(/assets/images/bgHeader.png) repeat 0 0 !important;
  border-bottom: 1px solid #717171;
}
#wsHeader .ui-bar-a .ui-shadow {
  box-shadow: 0 !important;
}
#wsHeader .ui-btn-up-a {
  border: none !important;
}
#wsHeader .ui-btn-up-c {
  border: 1px solid #e4e2e2 !important;
}
#wsHeader .ui-btn-corner-all {
  border-radius: 0 !important;
}
#wsHeader .ui-btn-left {
  top: -2px;
  left: 0;
  border-right: 1px solid #717171;
  background: none !important;
}
#wsHeader .ui-btn-left .ui-btn-inner {
  padding: 13px 8px 13px 44px;
  border-right: 1px solid #717171;
  border-bottom: 0 !important;
}
#wsHeader .wsTitle {
  background: #000000 !important;
  padding: 2px 0;
  border-top: 1px solid #717171;
}
#wsHeader .wsTitle h2 {
  text-transform: uppercase;
  text-align: center;
  font-size: 10px;
}
#wsHeader .wsTitle h2 a {
  text-decoration: none;
  color: #fff;
}
#navpanel {
  padding-top: 0;
  border-top: 0;
  border-right: none !important;
}
#navpanel ul.navClose {
  margin-top: -17px;
  height: 50px !important;
}
#navpanel ul.navClose span.ui-icon {
  left: 10px;
}
#navpanel ul.navClose a {
  padding-left: 40px;
}
.wsFooter ui-navbar {
  border-top: 1px solid #717171;
}
.wsFooter .ui-btn,
.wsFooter .ui-btn-up-a,
.wsFooter .ui-btn-active,
.wsFooter .ui-btn-hover-a {
  background: url(/assets/images/bgHeader.png) repeat 0 0 !important;
}
.wsBG {
  position: relative;
  width: 110%;
  height: 50px;
  top: -15px;
  left: -15px;
}
.wsBG.wsBGOne {
  background: url(/assets/images/wsBGOne.png) no-repeat right 0 !important;
}
.wsBG.wsBGTwo {
  background: url(/assets/images/wsBGTwo.png) no-repeat right 0 !important;
}
.wsHome p {
  text-shadow: 0 1px 0 #000000;
  color: #ffffff;
}
.wsHome .wsHomeOne,
.wsHome .wsHomeTwo {
  background-size: 95% auto;
}
.wsHome .wsHomeOne {
  background: url(/assets/images/bgHomeOne.png) no-repeat center 0;
}
.wsHome .wsHomeOne p {
  padding: 44px 0 10px 0;
}
.wsHome .wsHomeTwo {
  background: url(/assets/images/bgHomeTwo.png) no-repeat center 0;
}
.wsHome .wsHomeTwo p {
  padding: 100px 0 5px 0;
}
.wsHome .wsCTA .hpElement {
  border: 1px solid #717171 !important;
  border-radius: 4px;
  margin-bottom: 8px;
  background: url(/assets/images/hpElementTrans.png) repeat 0 0;
  padding: 8px;
}
.wsHome .wsCTA .hpElement a {
  font-size: 14px;
  text-shadow: 0 1px 0 #000000;
  border: none !important;
  background: none;
  padding: 0;
  width: 100%;
}
.wsHome .wsCTA .hpElement a span {
  color: #fff;
  font-size: 10px;
  text-shadow: none !important;
  border: none !important;
  background: none;
}
.wsVideo {
  position: relative;
  width: 100%;
}
.wsVideo .wsVWrapper {
  position: relative;
  margin: 0 auto;
  width: 90%;
  padding: 0 12px;
  border: 1px solid #e4e2e2;
  border-radius: 4px;
}
.wsVideo .wsVWrapper img {
  width: 100%;
  border: 1px solid #e4e2e2;
}
.wsVideo .wsVWrapper h4 {
  margin: 8px 0;
  padding: 0;
}
.wsVideo .wsVWrapper p {
  font-style: italic;
}
ul.mktLblCenter {
  width: 100%;
  background: none;
  font-size: 14px !important;
}
ul.mktLblCenter li {
  margin-bottom: 5px !important;
}
ul.mktLblCenter li.mktField label {
  width: auto;
  text-align: left !important;
  color: #717171;
}
ul.mktLblCenter li.mktField span.mktInput div {
  margin-top: 19px;
}
ul.mktLblCenter li.mktField span.mktInput div.ui-input-text {
  border: 1px solid #e4e2e2;
}
ul.mktLblCenter li#mktFrmButtons {
  text-align: center;
}
ul.mktLblCenter li#mktFrmButtons label {
  display: none;
}
ul.mktLblCenter li#mktFrmButtons div.ui-btn {
  width: 100%;
  background: #3ea0cb;
  color: #ffffff;
  text-shadow: none;
  border: none !important;
}
ul.mktLblCenter li#mktFrmButtons div.ui-btn .ui-btn-inner {
  overflow: visible;
  white-space: normal;
}
ul.mktLblCenter li#mktFrmButtons .ui-btn:nth-child(3) {
  display: none;
}
ul.mktLblCenter input[type="text"] {
  border-radius: 4px;
  height: 35px;
  background: none !important;
}
div#lpeCDiv_2223 {
  width: 100% !important;
  background: #ffffff;
}
@media only screen and (orientation: landscape) {
  .wsHome .wsHomeOne,
  .wsHome .wsHomeTwo {
    background-size: 50% auto;
  }
  .wsHome .wsHomeOne p,
  .wsHome .wsHomeTwo p {
    width: 50%;
    position: relative;
    display: inline-block;
  }
  .wsHome .wsHomeOne {
    background: url(/assets/images/bgHomeOne.png) no-repeat 0 0 !important;
  }
  .wsHome .wsHomeOne p {
    padding: 0 !important;
  }
  .wsHome .wsHomeTwo {
    background: url(/assets/images/bgHomeTwo.png) no-repeat 0 0 !important;
  }
  .wsHome .wsHomeTwo p {
    vertical-align: top;
    padding-top: 60px;
  }
  .wsHome .wsCTA {
    width: 45%;
    position: relative;
    display: inline-block;
    margin-left: 20px;
  }
  .wsVideo {
    position: relative;
    width: 100%;
  }
  .wsVideo .wsVWrapper {
    position: relative;
    width: 75%;
  }
  .wsVideo .wsVWrapper div,
  .wsVideo .wsVWrapper p {
    position: relative;
    display: inline-block;
    width: 47%;
    vertical-align: top;
    padding-bottom: 12px;
  }
  .wsVideo .wsVWrapper div img,
  .wsVideo .wsVWrapper p img {
    width: 100%;
  }
  .wsVideo .wsVWrapper p {
    margin: 32px 0 0 14px;
  }
}
