.ui-page,
.ui-body-c,
.ui-overlay-c {
  color: #717171 !important;
  background: #ffffff !important;
}
.ui-body-c .ui-link,
a {
  text-decoration: none;
  color: #3ea0cb;
  font-weight: normal;
}
.wsBold {
  font-weight: bold;
}
h1 {
  font-size: 24px;
  margin-bottom: 0;
  color: #3c3c3c;
}
h2 {
  font-size: 22px;
  color: #015786;
}
h3 {
  color: #717171;
  font-size: 16px;
}
h3 span.ui-btn-text {
  color: #3ea0cb !important;
}
h4.no-margin {
  margin-bottom: -13px !important;
}
* {
  box-shadow: none !important;
  text-shadow: none;
}
* p {
  color: #717171 !important;
}
.divError {
  border: 1px solid red !important;
}
blockquote {
  border-bottom: 4px double #e4e2e2 !important;
  border-top: 4px double #e4e2e2 !important;
  font-style: italic;
  padding: 6px;
}
.wsPage {
  background: #ffffff !important;
}
.wsHome {
  background: #000000 !important;
}
.wsShadow {
  box-shadow: -1px -1px 8px #3c3c3c;
}
a.wsBButton,
a.wsBButton:hover,
a.wsBButton:visited,
a.wsBButton:active,
a.wsGButton,
a.wsGButton:hover,
a.wsGButton:visited,
a.wsGButton:active {
  text-shadow: none !important;
  border: none !important;
  text-align: left !important;
  line-height: 25px;
}
a.wsBButton .ui-btn-text,
a.wsBButton:hover .ui-btn-text,
a.wsBButton:visited .ui-btn-text,
a.wsBButton:active .ui-btn-text,
a.wsGButton .ui-btn-text,
a.wsGButton:hover .ui-btn-text,
a.wsGButton:visited .ui-btn-text,
a.wsGButton:active .ui-btn-text {
  overflow: visible;
  white-space: normal;
}
a.wsBButton,
a.wsBButton:hover,
a.wsBButton:visited,
a.wsBButton:active {
  background: #3ea0cb !important;
  color: #ffffff;
}
a.wsGButton,
a.wsGButton:hover,
a.wsGButton:visited,
a.wsGButton:active {
  background: #e4e2e2 !important;
  color: #3c3c3c;
}
.ui-btn-corner-all,
.ui-corner-all {
  border-radius: 4px !important;
}
.ui-collapsible-heading .ui-body-d {
  border-color: #717171 !important;
}
.ui-collapsible-heading .ui-btn-up-c {
  background: #e4e2e2 !important;
}
.ui-collapsible-heading .ui-btn-text {
  overflow: visible;
  white-space: normal;
}
#wsHeader {
  background: url(/assets/images/bgHeader.png) repeat 0 0 !important;
  border-bottom: 1px solid #717171;
}
#wsHeader .ui-bar-a .ui-shadow {
  box-shadow: 0 !important;
}
#wsHeader .ui-btn-up-a {
  border: none !important;
}
#wsHeader .ui-btn-up-c {
  border: 1px solid #e4e2e2 !important;
}
#wsHeader .ui-btn-corner-all {
  border-radius: 0 !important;
}
#wsHeader .ui-btn-left .ui-btn-inner,
#wsHeader .ui-btn-right .ui-btn-inner {
  border-bottom: 0 !important;
  border-top: 0 !important;
}
#wsHeader .ui-btn-left {
  top: 0;
  left: 0;
  background: none !important;
}
#wsHeader .ui-btn-left .ui-btn-inner {
  padding: 14px 13px 13px 32px;
  border-right: 1px solid #3c3c3c;
  border-bottom: 0 !important;
  border-top: 0 !important;
}
#wsHeader .ui-btn-right {
  top: 0;
  right: 0;
  background: none !important;
}
#wsHeader .ui-btn-right .ui-btn-inner {
  padding: 14px 32px 13px 13px;
  border-left: 1px solid #3c3c3c;
  border-bottom: 0 !important;
  border-top: 0 !important;
}
#wsHeader h1 {
  font-size: 22px;
  margin: 7px 0 8px 11px;
}
#wsHeader h1 a {
  color: #ffffff;
}
#wsHeader .wsTitle {
  background: #000000 !important;
  border-top: 1px solid #717171;
  height: 35px;
}
#wsHeader .wsTitle h2 {
  text-transform: uppercase;
  text-align: center;
  font-size: 0px;
  padding: 0;
  display: block;
  height: 35px;
}
#wsHeader .wsTitle h2 a {
  text-decoration: none;
  color: #ffffff;
  font-size: 10px;
  display: block;
  height: 35px;
  line-height: 35px;
}
#wsHeader .wsTitle h2 a span {
  display: inline-block;
  height: 6px;
  width: 6px;
  background: url(/assets/images/hArrow.png) no-repeat right 0px;
  margin-left: 4px;
}
#navpanel {
  padding-top: 0;
  border-top: 0;
  border-right: none !important;
}
#navpanel h3 span.ui-btn-text {
  color: #ffffff !important;
}
#navpanel span.ui-btn-inner {
  border-color: #717171 !important;
}
#navpanel ul.navClose {
  margin-top: -18px;
  height: 53px !important;
}
#navpanel ul.navClose li {
  background: url(/assets/images/bgHeader.png) repeat 0 0 !important;
  border-bottom: 1px solid #717171;
  height: 53px;
}
#navpanel ul.navClose span.ui-icon {
  left: 10px;
  top: 20px;
}
#navpanel ul.navClose a {
  padding: 9px 0 0 40px;
  font-size: 12.5px !important;
}
#navpanel .ui-listview,
#navpanel .ui-btn-inner {
  font-size: 12.5px !important;
  line-height: 21px;
}
#navpanel .ui-listview li.navOne a {
  text-transform: uppercase;
}
#navpanel .ui-listview li.navTwo {
  background: #000000 !important;
}
#navpanel .ui-listview li.navTwo a {
  text-transform: uppercase;
  font-weight: normal !important;
  line-height: 25px;
}
#navpanel .ui-listview li.navThree a {
  background: url(/assets/images/blueDot.png) no-repeat 15px 18px;
  font-weight: normal !important;
  padding-left: 30px;
  font-size: 11.5px !important;
  line-height: 25px;
}
#navpanel .ui-body-d {
  border-color: #717171 !important;
}
.ui-panel-animate.ui-panel-content-fixed-toolbar-position-left.ui-panel-content-fixed-toolbar-open {
  margin-left: 0 !important;
}
.wsFooter {
  border-top: 1px solid #717171 !important;
  border-bottom: none;
}
.wsFooter .ui-btn-inner {
  border-top: none;
}
.wsFooter .ui-btn-inner .ui-btn-text {
  text-shadow: none;
}
.wsFooter .ui-block-a .ui-btn {
  border-left: none !important;
}
.wsFooter .ui-block-b .ui-btn {
  border-left: 1px solid #3c3c3c !important;
}
.wsFooter .ui-btn,
.wsFooter .ui-btn-up-a,
.wsFooter .ui-btn-active,
.wsFooter .ui-btn-hover-a {
  background: url(/assets/images/bgHeader.png) repeat top left !important;
}
.wsBG {
  position: relative;
  width: 111%;
  height: 50px;
  top: -15px;
  left: -15px;
  background: #000000;
}
.wsBG.wsBGOne {
  background: url(/assets/images/wsBGOne.png) no-repeat right 0 #000000 !important;
}
.wsBG.wsBGTwo {
  background: url(/assets/images/wsBGTwo.png) no-repeat right 0 #000000 !important;
}
.wsResp .wsRespOne,
.wsResp .wsRespTwo {
  background-size: 95% auto;
}
.wsResp .wsRespOne .bCopy,
.wsResp .wsRespTwo .bCopy {
  text-shadow: 0 1px 0 #000000;
  color: #ffffff !important;
  display: inline-block;
}
.wsResp .wsRespOne .bCopy p,
.wsResp .wsRespTwo .bCopy p {
  color: #ffffff !important;
}
.wsResp .wsRespZero p:nth-child(1) {
  margin-top: 0;
}
.wsResp .wsRespZero p {
  color: #000000;
  display: inline-block;
}
.wsResp .wsRespOne {
  background: url(/assets/images/bgHomeOne.png) no-repeat center 0;
}
.wsResp .wsRespOne p {
  padding: 44px 0 10px 0;
}
.wsResp .wsRespTwo {
  background: url(/assets/images/bgHomeTwo.png) no-repeat center 0;
}
.wsResp .wsRespTwo p {
  padding: 100px 0 5px 0;
}
.wsResp .wsCTA .hpElement {
  border: 1px solid #717171 !important;
  border-radius: 4px;
  margin-bottom: 8px;
  background: url(/assets/images/hpElementTrans.png) repeat 0 0;
  padding: 8px;
  width: 94%;
}
.wsResp .wsCTA .hpElement a {
  font-size: 14px;
  text-shadow: 0 1px 0 #000000;
  border: none !important;
  background: none;
  padding: 0;
  width: 100%;
}
.wsResp .wsCTA .hpElement a span {
  color: #ffffff;
  font-size: 10px;
  text-shadow: none !important;
  border: none !important;
  background: none;
}
ul.standard,
ul.green-arrow,
ul.strongList {
  list-style-type: none;
  padding: 0 20px;
  margin: 12px;
  vertical-align: top;
}
ul.standard li,
ul.green-arrow li,
ul.strongList li {
  background: transparent url(/assets/images/ws2013-list-square-img.png) no-repeat left 5px;
  padding: 0 0 0 16px;
  margin-top: 12px;
}
ul.standard.wsList,
ul.green-arrow.wsList,
ul.strongList.wsList {
  margin-left: 2px !important;
  padding: 0;
}
ul.standard.wsList span:nth-child(1),
ul.green-arrow.wsList span:nth-child(1),
ul.strongList.wsList span:nth-child(1) {
  font-weight: bold;
}
ul.standard.wsList span,
ul.green-arrow.wsList span,
ul.strongList.wsList span {
  display: block;
  width: 100%;
  margin-left: 1px;
}
ul#cso-experts {
  width: 100%;
  margin: 0;
  padding: 0;
}
ul#cso-experts li {
  display: inline-block;
  width: 45%;
  height: 240px;
  margin-left: 10px;
  vertical-align: top;
}
ul#cso-experts li p {
  width: 100%;
  vertical-align: top;
}
ul#cso-experts li p span {
  font-weight: bold;
}
.wsVideo {
  position: relative;
  width: 100%;
  margin-bottom: 13px;
}
.wsVideo .wsVWrapper {
  position: relative;
  margin: 0 auto;
  width: 90%;
  padding: 0 12px;
  border: 1px solid #e4e2e2;
  border-radius: 4px;
}
.wsVideo .wsVWrapper h4 {
  margin: 8px 0;
  padding: 0;
}
.wsVideo .wsVWrapper a.video {
  background: none repeat scroll 0 0 transparent;
  display: inline-block;
  position: relative;
  width: 100%;
}
.wsVideo .wsVWrapper a.video span {
  background: url(/assets/imgs/2013/ws2013-video-play-overlay.png) no-repeat scroll center center transparent;
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 2;
}
.wsVideo .wsVWrapper a.video img {
  width: 100%;
  height: auto;
  border: 1px solid #e4e2e2;
}
.wsVideo .wsVWrapper p {
  font-style: italic;
  font-size: 13px;
}
#outerWrapDiv {
  position: relative;
  left: -3px;
  width: 100%;
}
#outerWrapDiv .lpeRegForm,
#outerWrapDiv .lpeCElement {
  width: 100% !important;
  background: #ffffff;
}
ul.mktLblCenter {
  width: 100%;
  background: none;
  font-size: 14px !important;
}
ul.mktLblCenter li {
  margin-bottom: 5px !important;
}
ul.mktLblCenter li.mktField label {
  width: auto;
  text-align: left !important;
  color: #717171;
}
ul.mktLblCenter li.mktField span.mktInput div {
  margin-top: 19px;
}
ul.mktLblCenter li.mktField span.mktInput div.ui-input-text {
  border: 1px solid #e4e2e2;
}
ul.mktLblCenter li#mktFrmButtons {
  text-align: center;
}
ul.mktLblCenter li#mktFrmButtons label {
  display: none;
}
ul.mktLblCenter li#mktFrmButtons div.ui-btn {
  width: 100%;
  background: #3ea0cb;
  color: #ffffff;
  text-shadow: none;
  border: none !important;
}
ul.mktLblCenter li#mktFrmButtons div.ui-btn .ui-btn-inner {
  overflow: visible;
  white-space: normal;
}
ul.mktLblCenter li#mktFrmButtons .ui-btn:nth-child(3) {
  display: none;
}
ul.mktLblCenter input[type="text"] {
  border-radius: 4px;
  height: 35px;
  background: none !important;
}
@media only screen and (orientation: landscape) {
  .wsResp .wsRespZero,
  .wsResp .wsRespOne,
  .wsResp .wsRespTwo {
    background-size: 50% auto;
  }
  .wsResp .wsRespZero .bCopy,
  .wsResp .wsRespOne .bCopy,
  .wsResp .wsRespTwo .bCopy {
    width: 50%;
    position: relative;
    display: inline-block;
    vertical-align: top;
  }
  .wsResp .wsRespZero .bCopy p,
  .wsResp .wsRespOne .bCopy p,
  .wsResp .wsRespTwo .bCopy p {
    vertical-align: top;
    margin-top: 15px;
  }
  .wsResp .wsRespZero h4 {
    margin-top: 0;
  }
  .wsResp .wsRespZero p:nth-child(1) {
    margin-top: 0;
  }
  .wsResp .wsRespZero p {
    vertical-align: top;
  }
  .wsResp .wsRespOne {
    background: url(/assets/images/bgHomeOne.png) no-repeat left 0 !important;
  }
  .wsResp .wsRespOne p {
    vertical-align: top;
    padding: 35px 0 !important;
  }
  .wsResp .wsRespTwo {
    background: url(/assets/images/bgHomeTwo.png) no-repeat left 0 !important;
  }
  .wsResp .wsRespTwo p {
    vertical-align: top;
    padding-top: 60px;
  }
  .wsResp .wsCTA {
    width: 45%;
    position: relative;
    display: inline-block;
    margin-left: 20px;
  }
  .wsBG {
    position: relative;
    width: 107%;
    height: 50px;
    top: -15px;
    left: -15px;
    background: #000000;
  }
  ul#cso-experts {
    width: 100%;
  }
  ul#cso-experts li {
    display: inline-block;
    width: 22%;
    height: 240px;
    vertical-align: top;
  }
  ul#cso-experts li img {
    width: 75%;
  }
  .wsVideo {
    position: relative;
    width: 100%;
  }
  .wsVideo .wsVWrapper {
    position: relative;
    width: 75%;
  }
  .wsVideo .wsVWrapper div,
  .wsVideo .wsVWrapper p {
    position: relative;
    display: inline-block;
    width: 47%;
    vertical-align: top;
    padding-bottom: 12px;
  }
  .wsVideo .wsVWrapper div img,
  .wsVideo .wsVWrapper p img {
    width: 100%;
  }
  .wsVideo .wsVWrapper p {
    margin: 32px 0 0 14px;
  }
}
div#directions_map h2 {
  margin-bottom: 8px;
}
div#directions_map h3 {
  margin: 0 0 0 -15px;
}
div#directions_map .wsMapSearch {
  background: #ffffff !important;
  border-radius: 4px;
}
div#directions_map .wsMapSearch div.ui-input-text {
  border: 1px solid #e4e2e2;
  border-radius: 4px;
}
div#directions_map .wsMapSearch #map_canvas_1 {
  border: 1px solid #e4e2e2;
  border-radius: 4px;
  width: 99%;
}
div#directions_map div.ui-input-text {
  margin: -2px 0;
}
div#directions_map a {
  background: #3ea0cb;
  border: none !important;
  border-radius: 4px;
  color: #ffffff;
  text-shadow: none;
}
div#directions_map #results .ui-bar-c {
  background: none !important;
  border: none !important;
  color: #015786;
  font-weight: bold;
  font-size: 125%;
  text-shadow: 0 1px 0 #ffffff;
  border-radius: 4px;
}
#popupDialog {
  max-width: 400px;
  border: 1px solid #e4e2e2;
}
#popupDialog .modCenter {
  text-align: center;
}
.ui-grid-b > *:nth-child(n) {
  margin-right: 0px !important;
}
