//// Themes
@white:		#ffffff;
@lGrey:		#E4E2E2;
@mGrey:		#717171;
@dGrey:		#3c3c3c;
@black:		#000000;

@anchor:	#3EA0CB;
@dBlue:		#015786;

@bRadius:	4px;

//// Primary Elements
.ui-page,
.ui-body-c,
.ui-overlay-c {
	color:@mGrey !important;
}
.ui-body-c .ui-link {
	text-decoration:none;
	color:@anchor;
}
h2 {color:@dBlue;}
h3 {color:@black;}
h3 span.ui-btn-text {color:@anchor !important;}
#navpanel h3 span.ui-btn-text {color:@white !important;}
* {box-shadow:none !important;}

//// Background Colors

.wsHome {background:@black !important;}
.wsPage {background:@white !important;}

//.ui-overlay-c {background:@white !important;}
.wsShadow {box-shadow: -1px -1px 8px @dGrey;}

//// Buttons
a.wsBButton {
	background:@anchor !important;
	color:@white;
	text-shadow:none !important;
	border:none !important;
}
.wsFooter .ui-btn {border-left:1px solid @mGrey !important;}

.ui-btn-corner-all,
.ui-corner-all {border-radius:@bRadius !important;}

//// Accordions
.ui-body-d {border-color:@lGrey;}

//// Header Bar
#wsHeader {
	background: url(/assets/images/bgHeader.png) repeat 0 0 !important;
	border-bottom: 1px solid @mGrey;

	.ui-bar-a .ui-shadow {box-shadow:0 !important;}
	.ui-btn-up-a {border:none !important;}
	.ui-btn-up-c {border:1px solid @lGrey !important;}
	.ui-btn-corner-all {border-radius:0 !important;}
	.ui-btn-left {
		top:-2px;
		left:0;
		border-right: 1px solid @mGrey;
		background:none !important;
	
		.ui-btn-inner {
			padding:13px 8px 13px 44px;
			border-right: 1px solid @mGrey;
			border-bottom:0 !important;
		}	
	}
	.wsTitle {
		background:@black !important;
		padding:2px 0;
		border-top:1px solid @mGrey;
	
		h2 {
			text-transform: uppercase;
			text-align:center;
			font-size:10px;
		
			a {
				text-decoration:none;
				color:#fff;
			}
		}
	}
}

//// Sliding navigation Panel
#navpanel {
	padding-top:0;
	border-top:0;
	border-right:none !important;

	ul.navClose {
		margin-top:-17px;
		height:50px !important;
	}
	
	ul.navClose {
		span.ui-icon {left:10px;}
		a {padding-left:40px;}
	}
}

//// Footer
.wsFooter ui-navbar {
	border-top: 1px solid @mGrey;
}
.wsFooter .ui-btn,
.wsFooter .ui-btn-up-a,
.wsFooter .ui-btn-active,
.wsFooter .ui-btn-hover-a {
	background: url(/assets/images/bgHeader.png) repeat 0 0 !important;
}
/// Home Page
.wsBG {
	position:relative;
	width:110%;
	height:50px;
	top:-15px;
	left:-15px;

	&.wsBGOne {background: url(/assets/images/wsBGOne.png) no-repeat right 0 !important;}
	&.wsBGTwo {background: url(/assets/images/wsBGTwo.png) no-repeat right 0 !important;}
}
.wsHome {
	p {
		text-shadow: 0 1px 0 @black;
		color:@white;
	}
	.wsHomeOne,
	.wsHomeTwo {background-size:95% auto;}
		.wsHomeOne {
			background: url(/assets/images/bgHomeOne.png) no-repeat center 0;
				p {padding:44px 0 10px 0;}
			}
		.wsHomeTwo {
			background: url(/assets/images/bgHomeTwo.png) no-repeat center 0;
				p {padding:100px 0 5px 0;}
		}
	.wsCTA {
		.hpElement {
			border:1px solid @mGrey !important;
			border-radius:@bRadius;
			margin-bottom:8px;
			background: url(/assets/images/hpElementTrans.png) repeat 0 0;
			padding:8px;

			a {
				font-size:14px;
				text-shadow: 0 1px 0 @black;
				border:none !important;
				background:none;
				padding:0;
				width:100%;
	
				span {
					color:#fff;
					font-size:10px;
					text-shadow:none !important;
					border:none !important;
					background:none;
				}
			}
		}
	}
}
//// Content Pages

//// Video Player
.wsVideo {
	position:relative;
	width:100%;

	.wsVWrapper {
		position:relative;
		margin:0 auto;
		width:90%;
		padding:0 12px;
		border:1px solid @lGrey;
		border-radius:@bRadius;
		

		img {
			width:100%;
			border:1px solid @lGrey;
		}
		h4 {
			margin:8px 0;
			padding:0;
		}
		p {font-style:italic;}
		
	}
	
}
//// Marketo Forms
ul.mktLblCenter {
	width:100%;
	background:none;
	font-size:14px !important;
	
	li {margin-bottom:5px !important;}
	li.mktField {
		label {
			width:auto;
			text-align:left !important;
			color:@mGrey;
		}
		span.mktInput {
			div {margin-top:19px;
				&.ui-input-text {border:1px solid @lGrey;}
			}
		}
	}
	li#mktFrmButtons {
		text-align:center;
		
		label {display:none;}
		div.ui-btn {
			width:100%;
			background:@anchor;
			color:@white;
			text-shadow:none;
			border:none !important;
			
			.ui-btn-inner {
				overflow: visible;
				white-space: normal;
			}
		}
		.ui-btn:nth-child(3) {display:none;}
	}
	input[type="text"] {
		border-radius:@bRadius;
		height:35px;
		//font-size:14px !important;
		background:none !important;
	}
}
div#lpeCDiv_2223 {
	width:100% !important;
	background:@white;
}

//// @media only screen and (orientation: portrait) {}

@media only screen and (orientation: landscape) {
.wsHome {
	.wsHomeOne,
	.wsHomeTwo {
		background-size:50% auto;
		p {
			width:50%;
			position:relative;
			display:inline-block;
		}
	}
	.wsHomeOne {
		background: url(/assets/images/bgHomeOne.png) no-repeat 0 0 !important;
		
		p {padding:0 !important;}
	}
	.wsHomeTwo {
		background: url(/assets/images/bgHomeTwo.png) no-repeat 0 0 !important;

		p {
			vertical-align:top;
			padding-top:60px;
		}
	}
	.wsCTA {
		width:45%;
		position:relative;
		display:inline-block;
		margin-left:20px;
	}
}
//// Video Player
	.wsVideo {
		position:relative;
		width:100%;

		.wsVWrapper {
			position:relative;
			width:75%;
		
			div, p {
				position:relative;
				display:inline-block;
				width:47%;
				vertical-align:top;
				padding-bottom:12px;
				
				img {width:100%;}
			}
			p {margin:32px 0 0 14px;}
			h4 {}
		}
	}
}