<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AlwaysUpdateImages</key>
	<true/>
	<key>DefaultPageName</key>
	<string>home.php</string>
	<key>DeploymentCheckLinks</key>
	<false/>
	<key>DeploymentCheckSyntax</key>
	<false/>
	<key>DeploymentContinueAfterErrors</key>
	<false/>
	<key>DeploymentLocation</key>
	<string>ftp://craig:@d.cdgui.com//www/cdgui.com/</string>
	<key>DeploymentUpdateImages</key>
	<false/>
	<key>DeploymentUpdatePlaceholders</key>
	<false/>
	<key>DontUpdate1x1Images</key>
	<true/>
	<key>InsertEmptyAltAttribute</key>
	<true/>
	<key>LinkAddressingMode</key>
	<string>Automatic</string>
	<key>LocalSiteRootLocator</key>
	<dict>
		<key>BookmarkData</key>
		<data>
		Ym9va3wDAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
		AAAAtAIAAAcAAAABAQAAVm9sdW1lcwATAAAAAQEAAFdlYlNlbnNlIE1vYmls
		ZSBEZXYACAAAAAEGAAAEAAAAFAAAAAgAAAAEAwAANysQAAAAAAAAAAAAAQoA
		AAgAAAABBgAAQAAAAFAAAAAIAAAAAAQAAMHNJ+RAAAAAGAAAAAECAAAKAAAA
		AAAAAA8AAAAAAAAAAAAAAAAAAAAIAAAABAMAAAAAAIAHAAAAGAAAAAECAAAA
		AAAAAAAAAO8/AAABAAgAAAAAAAAAAAAcAAAAAQEAAC9Wb2x1bWVzL1dlYlNl
		bnNlIE1vYmlsZSBEZXYFAAAAAQEAAGtlaXJhAAAACAAAAAQDAAAAgIE9dAAA
		AAgAAAAABAAAQbcY6mUAAAAkAAAAAQEAAEVFOTJCRDk2LTczMkUtMzBFOC04
		NkZCLTgwNTFCN0ExQTI3MhgAAAABAgAAgQAAAAEACADvPwAAAQAIAAAAAAAA
		AAAAAQAAAAEBAAAvAAAAVAAAAP7///8A8AAAAAAAAAYAAAACIAAAaAEAAAAA
		AAAQIAAA7AAAAAAAAAARIAAAHAEAAAAAAAASIAAA/AAAAAAAAAATIAAADAEA
		AAAAAAAgIAAASAEAAAAAAAAEAAAAAwMAAADwAAAEAAAAAwMAAAAAAAAEAAAA
		AwMAAAEAAAAMAAAAAQYAANABAADcAQAA6AEAAKQAAAABAgAAOWM0Nzk4ZGI3
		NTcwODI4NjM5ODEyYjg4ZjM1ZmZmMTkwZGQ4ZDQzMjswMDAwMDAwMDswMDAw
		MDAwMDAwMDAwMDIwO2NvbS5hcHBsZS5hcHAtc2FuZGJveC5yZWFkLXdyaXRl
		OzAwMDAwMDAxOzJkMDAwMDA1OzAwMDAwMDAwMDAwMDAwMDE7L3ZvbHVtZXMv
		d2Vic2Vuc2UgbW9iaWxlIGRldgCQAAAA/v///wEAAAB0AQAACwAAAAQQAAAw
		AAAAAAAAAAUQAABYAAAAAAAAABAQAAB4AAAAAAAAAEAQAABoAAAAAAAAAAAg
		AAD0AQAAAAAAAAIgAADIAAAAAAAAABAgAAAUAAAAAAAAABIgAACYAAAAAAAA
		ABMgAABoAAAAAAAAACAgAACoAAAAAAAAAIDwAAAIAgAAAAAAAA==
		</data>
		<key>FileURL</key>
		<string>file://localhost/Volumes/WebSense%20Mobile%20Dev/</string>
		<key>RelativePath</key>
		<string>./</string>
		<key>TypeID</key>
		<string>_CFileLocator</string>
		<key>Version</key>
		<integer>1</integer>
	</dict>
	<key>Name</key>
	<string>m.websense.com</string>
	<key>NewDocumentCharset</key>
	<string>utf-8</string>
	<key>NewDocumentDOCType</key>
	<string></string>
	<key>NewDocumentGiveBBEditCredit</key>
	<true/>
	<key>NewDocumentInsertDOCType</key>
	<true/>
	<key>NewDocumentInsertXMLDeclaration</key>
	<false/>
	<key>NewDocumentLanguage</key>
	<string>en</string>
	<key>PreviewServerURL</key>
	<string></string>
	<key>SitePath</key>
	<string>/www/d.cdgui.com</string>
	<key>UsePreviewServer</key>
	<false/>
	<key>WebServerURL</key>
	<string>d.cdgui.com</string>
</dict>
</plist>
